{% extends 'drf-yasg/redoc.html' %}
{% load static %}

{% block main_scripts %}
    <script src="{% static 'drf-yasg/insQ.min.js' %}"></script>
    <script src="{% static 'drf-yasg/url-polyfill.min.js' %}"></script>
    <script src="{% static 'drf-yasg/redoc-init.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/redoc@2.0.0-rc.23/bundles/redoc.standalone.js"></script>
{% endblock %}

{% block extra_styles %}
<style media="screen">
  .menu-content {
    contain: unset !important;
  }

  .github-fork-ribbon:before {
    background-color: rgb(0, 0, 0)!important;
  }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />
{% endblock %}

{% block extra_body %}
<a class="github-fork-ribbon" href="https://github.com/CONABIO-audio/covid-mexico-19" data-ribbon="Consúltame en GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
{% endblock %}
